# Python
__pycache__/
*.pyc

# Virtual environment
nfstream_env/
venv/
.env

# Datasets
TRAINING_DATA/
BALANCED_ATTACKS/
MASTER_FINE_GRAINED.csv
NFSTREAM_CSV/
DPKT_CSV/
TRAINING_DATA.zip

#test 
Test_Pcap

# Jupyter
.ipynb_checkpoints/